/* ========== Custom Properties ========== */
:root {
  --clr-green: #00b800;
  --clr-green2: #007400;
  --clr-black: #000;
  --clr-gray: #a5a2a2;

  --fs-h1: 2rem;
  --fs-h2: 1.5rem;
  --fs-h3: 1rem;
  --fs-p: 0.875rem;
  --fs-input: 1rem;
  --fs-small: 0.625rem;
}

@media (min-width: 700px) {
  :root {
    --fs-h1: 3rem;
    --fs-h2: 2rem;
    --fs-h3: 1.25rem;
    --fs-p: 1rem;
    --fs-input: 1.25rem;
  }
}

/* ========== General ========== */
* {
  box-sizing: border-box;
}

body {
  background: black;
  color: var(--clr-green);
  margin: 0;
  padding: 0;
  padding-top: 10px;
  font-family: "Press Start 2P", cursive;
  text-align: center;
  line-height: 1.5;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-weight: 400;
}

main {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1em 3em;
}

.high-score {
  border: solid 2px var(--clr-green);
  padding: 0.5em 1em;
  max-width: fit-content;
  margin-right: auto;
  margin-left: auto;
}

/* ========== Typography ========== */
h1 {
  font-size: var(--fs-h1);
  border-top: solid 2px var(--clr-green);
  border-bottom: solid 2px var(--clr-green);
  margin: 0.875em auto;
  padding: 0.5em;
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

p {
  font-size: var(--fs-p);
}

input {
  font-size: var(--fs-input);
}

button {
  font-family: "Press Start 2P", cursive;
  font-size: var(--fs-p);
  display: block;
  margin: 0 auto;
  border: none;
  background: var(--clr-green);
  padding: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

button:hover,
button:focus {
  outline: solid 3px var(--clr-green2);
  outline-offset: 3px;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

.reset {
  font-size: var(--fs-small);
  letter-spacing: 1px;
}

/* ========== Form Elements ========== */
textarea {
  font-family: "Press Start 2P", cursive;
  border: none;
  width: 90%;
  margin: 0 auto;
  outline: none;
  height: 200px;
  background: var(--clr-green);
  padding: 10px;
  line-height: 1.5;
  resize: vertical;
}

label {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  background: var(--clr-green);
  padding: 0.25em 0.5em;
  width: 6em;
}

textarea:disabled {
  background-color: var(--clr-gray);
}
